### NASA Mars News

* Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

```python
# Example:
news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."
```

In [39]:
#Import Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import pymongo

### NASA Mars News

* Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [86]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'

In [87]:
# Retrieve page with the requests module
response = requests.get(url)
#response.headers
#response.content

In [88]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [89]:
# Examine the results, then determine element that contains sought info
#print(soup.prettify())

In [90]:
# First paragraph result returned for first article on page
news_paragraph = soup.find('div', class_="rollover_description_inner").text.strip()
news_paragraph

'NASA chose a seventh-grader from Virginia as winner of the agency\'s "Name the Rover" essay contest. Alexander Mather\'s entry for "Perseverance" was voted tops among 28,000 entries.'

In [91]:
# First title result returned for first article on page
news_title = soup.find('div', class_="content_title").a.text.strip()
news_title

"Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover"

### JPL Mars Space Images - Featured Image

* Visit the url for JPL Featured Space Image [here](https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars).

* Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called `featured_image_url`.

* Make sure to find the image url to the full size `.jpg` image.

* Make sure to save a complete url string for this image.

In [92]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [93]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [94]:
browser.click_link_by_partial_text('FULL IMAGE')

In [95]:
browser.click_link_by_partial_text('more info')

In [96]:
# Extra code added here to test
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

feat_img = soup.find('figure', class_='lede')

In [97]:
featured_image_url = f'https://www.jpl.nasa.gov{feat_img.a.img["src"]}'

In [98]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19952_hires.jpg'

### Mars Weather

* Visit the Mars Weather twitter account [here](https://twitter.com/marswxreport?lang=en) and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report as a variable called `mars_weather`.
* **Note: Be sure you are not signed in to twitter, or scraping may become more difficult.**
* **Note: Twitter frequently changes how information is presented on their website. If you are having difficulty getting the correct html tag data, consider researching Regular Expression Patterns and how they can be used in combination with the .find() method.**

In [68]:
# URL of page to be scraped
url = 'https://twitter.com/marswxreport?lang=en'

In [69]:
# Retrieve page with the requests module
response = requests.get(url)
#response.headers
#response.content

In [70]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(response.text, 'html.parser')

In [71]:
# Examine the results, then determine element that contains sought info
#print(soup.prettify())

In [72]:
# results are returned as an iterable list
tweets = soup.find_all('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")

In [73]:
# Loop through returned results and match the first tweet that starts with 'Insight sol'
for tweet in tweets:
    # Error handling
    try:
        # Create a regular expression to match the first phrase of a tweet about the weather
        regex = '^InSight sol'
        # Print results only if title, price, and link are available
        if re.match(regex,tweet.text) is not None:
            weather_data = tweet.text
            break
    except AttributeError as e:
        print(e)

In [74]:
#weather_data

'InSight sol 452 (2020-03-05) low -94.2ºC (-137.7ºF) high -9.2ºC (15.4ºF)\nwinds from the SSW at 6.5 m/s (14.5 mph) gusting to 19.6 m/s (43.9 mph)\npressure at 6.30 hPapic.twitter.com/oCMblxEv6O'

### Mars Facts

* Visit the Mars Facts webpage [here](https://space-facts.com/mars/) and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

* Use Pandas to convert the data to a HTML table string.

In [80]:
url = 'https://space-facts.com/mars/'

In [81]:
# Use pandas to read the html table data on the page into a list of dictionaries
tables = pd.read_html(url)
#tables

In [82]:
# Read the first dictionary in the list into a pandas dataframe and name columns
df = tables[0]
df.columns = ['Parameter', 'Value']

In [83]:
df.set_index('Parameter', inplace=True)
df

                                              Value
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [84]:
# Convert the dataframe into an html table, strip the end of line newlines and 
# write the result to an html file to view 
fact_table = df.to_html()
fact_table = fact_table.replace('\n', '')
fact_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Parameter</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [85]:
# Inspect the result in a browser
df.to_html('table.html')
!explorer table.html

### Mars Hemispheres

* Visit the USGS Astrogeology site [here](https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars) to obtain high resolution images for each of Mar's hemispheres.

* You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.

* Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys `img_url` and `title`.

* Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [100]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [101]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [102]:
# Get page html and make beautifulsoup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [103]:
# Get the html containing the titles and put into a list
title_list = soup.find_all('div', class_='description')

In [104]:
#title_list[3].a.h3.text

In [ ]:
# Loop through the div objects and scrape titles and urls of hires images
# Initiate the list to store dictionaries
hemisphere_image_urls = []
for title in title_list:
    # Navigate browser to page then click on title link to hires image page
    browser.visit(url)
    browser.click_link_by_partial_text(title.a.h3.text)

    # Grab the destination page html and make into BeautifulSoup object
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    # Parse the hires image source(src) relative url then append to domain name
    # for absolute url 
    img_url_list = soup.find('img', class_='wide-image')
    img_url = f"https://astrogeology.usgs.gov{img_url_list['src']}"

    # Create dictionary with returned values and add dict to hemisphere_image_urls list
    post = {
            'title': title.a.h3.text,
            'image_url': img_url
            }
    hemisphere_image_urls.append(post)

In [ ]:
hemisphere_image_urls